body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    position:relative;

}
.form-container {
    background-color: #403f3f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    height: 80%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#phone-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #242424;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#provider-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#provider-icon {
    height: 200px;
    border-radius: 15px;
}

#provider-name {
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    color: #e1dfdf;
}
/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    position:relative;

}


