:root{
    --color-one: #2E4057;
    --color-two: #D4D6B9;
    --color-three: #083D77;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-one);
}
header {
    background-color: var(--color-two);
    color: var(--color-three);
    padding: 20px 0;
    text-align: center;
    position:relative;

}
.form-container {
    background-color: var(--color-one);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 80px 20px;
    text-align: center;
    height: 80%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#phone-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: var(--color-two);
    font-weight: 700;
}

input {
    background-color: var(--color-two);
    padding: 10px;
    margin: 2px 0 20px;
    width: 500px;
    border: 1px solid #242424;
    border-radius: 5px;
}

input:focus{
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: var(--color-two);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#provider-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#provider-icon {
    height: 200px;
    border-radius: 15px;
}

#provider-name {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    color: var(--color-two);
}
/* Footer Styles */

footer {
    background-color:var(--color-one);
    color: var(--color-two);
    padding: 10px 0;
    text-align: center;
    position:relative;

}

.foot-item, em{
    font-size: .7rem;
    font-weight: bold;
}

@media screen and (max-width: 759px) {
    input {
        width: 80%;
    }
    
}
